* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  scroll-behavior: smooth;
  list-style: none;
  outline: none;
  border: none;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6, p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

.container {
  max-width: 1440px;
  margin-inline: auto;
}

@font-face {
  font-family: "bold";
  src: url("../fonts/LeagueSpartan-Bold.woff2") format("woff2"), url("../fonts/LeagueSpartan-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "semibold";
  src: url("../fonts/LeagueSpartan-SemiBold.woff2") format("woff2"), url("../fonts/LeagueSpartan-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "medium";
  src: url("../fonts/LeagueSpartan-Medium.woff2") format("woff2"), url("../fonts/LeagueSpartan-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.bottom {
  display: flex;
  grid-template-columns: 1fr auto 1fr;
}
.bottom .middle {
  padding: 4em 3em;
}
.bottom .middle h2 {
  font-family: "bold";
  font-size: 1em;
  color: hsl(0, 0%, 0%);
  text-transform: uppercase;
  letter-spacing: 6.7px;
}
.bottom .middle p {
  font-family: "medium";
  font-size: 0.95em;
  line-height: 1.41;
  color: hsl(0, 0%, 63%);
  padding-top: 1em;
  margin-top: -0.2em;
}

/**
    * Top
    * -----------------------------------------------------------------------------
    * Division on Top level styles
    * 
    */
.wrapper {
  overflow: hidden;
}
.wrapper .divsTop {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
  transition: all 0.4s ease;
}
.wrapper .divsTop::-webkit-scrollbar {
  display: none;
}
.wrapper .divsTop .top {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}
.wrapper .divsTop .top .left {
  position: relative;
}
.wrapper .divsTop .top .left .navBar {
  position: absolute;
  display: flex;
  align-items: center;
}
.wrapper .divsTop .top .left .navBar nav {
  display: flex;
  flex-direction: row;
  gap: 3.61em;
  padding: 3.88em;
  align-content: center;
}
.wrapper .divsTop .top .left .navBar nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.89em;
  margin-top: -0.5em;
}
.wrapper .divsTop .top .left .navBar nav ul li a {
  color: hsl(0, 0%, 100%);
  font-family: "medium";
}
.wrapper .divsTop .top .left .img {
  width: 840px;
  height: 535px;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper .divsTop .top .left .img1 {
  background-image: url("../images/desktop-image-hero-1.jpg");
}
.wrapper .divsTop .top .left .img2 {
  background-image: url("../images/desktop-image-hero-2.jpg");
}
.wrapper .divsTop .top .left .img3 {
  background-image: url("../images/desktop-image-hero-3.jpg");
}
.wrapper .divsTop .top .right {
  display: flex;
  flex-direction: column;
  width: 600px;
}
.wrapper .divsTop .top .right .text {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 7.47em 4em 0em 6.28em;
}
.wrapper .divsTop .top .right .text h1 {
  font-family: "bold";
  font-size: 2.69em;
  line-height: 1.05;
  color: hsl(0, 0%, 0%);
  padding-bottom: 0.2em;
}
.wrapper .divsTop .top .right .text p {
  width: 100%;
  font-family: "medium";
  font-size: 0.95em;
  line-height: 1.4;
  color: hsl(0, 0%, 63%);
  padding-right: 2em;
}
.wrapper .divsTop .top .right .button {
  padding-top: 0.2em;
}
.wrapper .divsTop .top .right .button button {
  background: transparent;
  text-transform: uppercase;
  color: hsl(0, 0%, 0%);
  font-family: "semibold";
  letter-spacing: 11.5px;
  padding-right: 1em;
}
.wrapper .divsTop .top .slideBtn {
  margin-top: 69px;
  display: flex;
  flex-direction: row;
}
.wrapper .divsTop .top .slideBtn .prevBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 5em;
  background: hsl(0, 0%, 0%);
  cursor: pointer;
}
.wrapper .divsTop .top .slideBtn .prevBtn:hover {
  background: hsl(0, 0%, 63%);
}
.wrapper .divsTop .top .slideBtn .nextBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 5em;
  background: hsl(0, 0%, 0%);
  cursor: pointer;
}
.wrapper .divsTop .top .slideBtn .nextBtn:hover {
  background: hsl(0, 0%, 63%);
}

.all {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=main.css.map */