@use "./fonts" as *;
@use "./colors" as *;

@mixin btns {
      $size: 5em;
      display: flex;
      align-items: center;
      justify-content: center;
      width: $size;
      height: $size;
      background: $Black;
      cursor: pointer;

      &:hover {
          background: $DarkGray;
      }
      @include responsive(400px){
        $size:3.5em;
            width: $size;
            height: $size;
            img{
                width:.6em;
            }
      }

  }


//   responsive
@mixin responsive($breakpoint){
    @media screen and (max-width:$breakpoint) {
        @content;
    }
}